#containerDos {
    margin-top: 50px;
}

.fotoTurista {
    width: 100%;
}

h1 {
    font-weight: 400;
    font-size: 40px;
}

h2 {
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 25px;
}

p {
    font-size: 13px;
    color: #444444;
    margin-top: 10px;
}

#containerTres {
    background-color: #f18181;
    color: white;
    margin-top: 50px;
}

#containerCuatro {
    margin-top: 50px;
    margin-bottom: 50px;
}

form {
    margin-top: 50px;
}

#botonContact {
    margin-top: 15px;
    margin-bottom: 50px;
}

.fa-twitter,
.fa-facebook-f,
.fa-instagram {
    font-size: 25px;
}

.fa-facebook-f {
    margin-left: 15px;
    margin-right: 15px;
}